/* It is possible to ask attributes from this sheet with the following js code: VisualisationJsModule.getStyle(".containerAttributes").style.color; */

#containerDiv{	
	background-color: rgb(229,222,205);	
}

/* container represents the div that everything is being drawn on*/
.containerAttributes{
	color: rgb(100,2,31) ;
	background-color: rgb(29,22,235) ;
	height: 456px;
	width: 456px;
	


}






.slider{
	color: rgb(210,2,35) ;
}




.sphere{
	color: rgb(191,172,136);
}

.sphere.centersphere{
	color: rgb(76,151,214);
}




.arrow.default{
	color: blue ;
}

.arrow.broader{
	color: orange;
}

.arrow.narrower{
	color: red;
}

.arrow.related{
	color: steelblue;
}