/* It is possible to ask attributes from this sheet with the following js code: VisualisationJsModule.getStyle(".containerAttributes").style.color; */

#containerDiv{	
	background-color: rgb(229,222,205);	
}

/* container represents the div that everything is being drawn on*/
.containerAttributes{

	height: 700px;
	width: 700px;
	/* font: Bold 35px Arial; */
	font: 30px Open_Sans

}


.sliderAttributes.background{
	background: rgb(229,222,205);
}

.sliderAttributes.sliderButton{
	color: rgb(10,24,111);
}

.sliderAttributes.sliderPolygon{
	color: rgb(29,20,205);
	background: rgb(229,200,205);
}

#sliderDiv{
    vertical-align: top;
  width: 20px;
  height:500px;
}

/*.sphere.level1{
	color: rgb(191,172,136);
}

.sphere.level0{
color: rgb(76,151,214);
}

.sphere.level2{
color: blue;
}

.sphere.level3{
color: purple;
}

.sphere.level4{
color: rgb(76,151,214);
}*/




.arrow.default{
	color: blue ;
}

.arrow.broader{
	color: orange;
}

.arrow.narrower{
	color: red;
}

.arrow.related{
	color: steelblue;
}



.nodeTextLabel{
	color: black;
}

/* Order = the initial loaded depth in the visualisation, once the program is loaded and the user selected a higher depth, it will be reloaded */
.maxDepth{
	order: 2;	
}

/*used to change cursor into wait while ajax-call busy*/
body.wait, body.wait *{
 cursor: wait !important;   
}

div{
   cursor: pointer;   
}
/*end change cursor*/